<launch>
  <node pkg="move_base" type="move_base" name="move_base" output="screen" >
    <rosparam file="/path/to/file/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="/path/to/file/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="/path/to/file/local_costmap_params.yaml" command="load" />
    <rosparam file="/path/to/file/global_costmap_params.yaml" command="load" />
    <rosparam file="/path/to/file/base_local_planner_params.yaml" command="load" />
  </node>
</launch>
